page-drname {
.main {
  background-color: #4b4b4b;
  width: 100%;
  height: 100%;
}
.ionList{
  padding: 10px;
  
  
}
.viewBtn{
  width: 80px;
  height: 50px;
  font-size: 25px;
  background-color: #1ABC9C;
  color: #ffffff;
  

}
ion-item{
box-shadow: 0 8px 8px 0 #000000;
}
}


    
