page-time {
    .main {
      background-color: #4b4b4b;
      width: 100%;
      height: 100%;
    }
    .gridDiv{
    height: 360px;
    padding: 0 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    background-color: #1ABC9C;
    color: #ffffff;
    box-shadow: 0 8px 8px 0 #000000;
font-size: 18px;

    }
.ionGrid{
  background-color: #1abc9c;
  padding: 15px 20px;
  margin: 80px 0;
  display: block;
  widows: 100%;


}
h1{
text-align: center;

color: #ffffff;


}
}
